In [1]:
import numpy as np
import pandas as pd

In [35]:
food=pd.DataFrame([['Paneer',90,'jaipur','White','Indian','sweet','4'],
                   ['pizza',150,'pune','yellow','japanese','sour','3'],
                   ['sandwich',40,'Chennai','White','Indian','salty','2'],
                   ['cake',80,'jaipur','White','Thai','sweet','4'],
                   ['Fish',100,'Mumbai','Red','Italian','savory','3'],
                   ['Chole bature',40,'Delhi','Yellow','Indian','spicy','1'],
                   ['dhokla',70,'pune','Yellow','Indian','spicy','4'],
                   ['Chicken',300,'Kolkata','Red','Chinese','spicy','5'],
                   ['Biryani',50,'pune','Light red','Spanish','spicy','2'],
                   ['Malai Kofta',70,'Kolkata','Red','Indian','spicy','2'],
                   ['Veg Thali',230,'jaipur','brown','Desi','spicy','1'],
                   ['Burger',20,'Delhi','brown','French','salty','5']
                  ]
                  ,columns=['Name','Price','Place','color','Cuisine','Taste','Rating'],index=range(1,13))

food

            Name  Price    Place      color   Cuisine   Taste Rating
1         Paneer     90   jaipur      White    Indian   sweet      4
2          pizza    150     pune     yellow  japanese    sour      3
3       sandwich     40  Chennai      White    Indian   salty      2
4           cake     80   jaipur      White      Thai   sweet      4
5           Fish    100   Mumbai        Red   Italian  savory      3
6   Chole bature     40    Delhi     Yellow    Indian   spicy      1
7         dhokla     70     pune     Yellow    Indian   spicy      4
8        Chicken    300  Kolkata        Red   Chinese   spicy      5
9        Biryani     50     pune  Light red   Spanish   spicy      2
10   Malai Kofta     70  Kolkata        Red    Indian   spicy      2
11     Veg Thali    230   jaipur      brown      Desi   spicy      1
12        Burger     20    Delhi      brown    French   salty      5

# Maximum Price

In [36]:
for x in food.index:
    if food.loc[x,'Price']==food['Price'].max():
         print('Dish name = ',food.loc[x,'Name'],'\nDish Price =',food.loc[x,'Price'])

Dish name =  Chicken
Dish Price = 300

# Popular Cusine

In [37]:
for x in food.index:
    if food.loc[x,'Rating']==food["Rating"].max():
          print('Most Popular Cuisine = ',food.loc[x,'Cuisine'],'\nDish Rating = ',food.loc[x,'Rating'])

Most Popular Cuisine =  Chinese
Dish Rating =  5
Most Popular Cuisine =  French
Dish Rating =  5

# Spicy Food Of Kolkata

In [38]:
food['Name'][(food['Place']=='Kolkata')&(food['Taste']=='spicy')]

8         Chicken
10    Malai Kofta
Name: Name, dtype: object

# Count of Types Of Taste

In [39]:
food['Taste'].value_counts()

spicy     6
sweet     2
salty     2
savory    1
sour      1
Name: Taste, dtype: int64

# Count Of Places

In [40]:
food['Place'].value_counts()

pune       3
jaipur     3
Delhi      2
Kolkata    2
Mumbai     1
Chennai    1
Name: Place, dtype: int64

# Red Food In Kolkata

In [43]:
d1=food[food['color']=="Red"]
for x in d1.index:
    if food.loc[x,'Place']=="Kolkata":
        print('Red food in Kolkata=',food.loc[x,'Name'])

Red food in Kolkata= Chicken
Red food in Kolkata= Malai Kofta

# Cheapest Food

In [45]:
for x in food.index:
    if food.loc[x,'Price']==food['Price'].min():
         print('Dish name = ',food.loc[x,'Name'],'\nDish Price =',food.loc[x,'Price'])

Dish name =  Burger
Dish Price = 20